.header-app {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003459;
    box-shadow: 0 0 10px gray;
}

.header-app div {
    display: flex;
    align-items: center;
    gap: 10px
}

.header-app img {
    width: 30px;
    height: 30px;
}

.header-app h1 {
    color: #fff;
}
